[submodule "versionamento-de-codigo-com-git-e-github"]
	path = versionamento-de-codigo-com-git-e-github
	url = git@github.com:lucianodacunha/versionamento-de-codigo-com-git-e-github.git
[submodule "trabalhando-com-equipes-ageis"]
	path = trabalhando-com-equipes-ageis
	url = git@github.com:lucianodacunha/trabalhando-com-equipes-ageis
[submodule "desafios-de-projetos-crie-um-porfolio-vencedor"]
	path = desafios-de-projetos-crie-um-porfolio-vencedor
	url = git@github.com:lucianodacunha/desafios-de-projetos-crie-um-porfolio-vencedor.git
[submodule "contribuindo-em-um-projeto-open-source-no-github"]
	path = contribuindo-em-um-projeto-open-source-no-github
	url = git@github.com:lucianodacunha/contribuindo-em-um-projeto-open-source-no-github.git
[submodule "conhecendo-o-kotlin-e-sua-documentacao-oficial"]
	path = conhecendo-o-kotlin-e-sua-documentacao-oficial
	url = git@github.com:lucianodacunha/conhecendo-o-kotlin-e-sua-documentacao-oficial.git
