[submodule "versionamento-de-codigo-com-git-e-github"]
	path = versionamento-de-codigo-com-git-e-github
	url = git@github.com:lucianodacunha/versionamento-de-codigo-com-git-e-github.git
[submodule "trabalhando-com-equipes-ageis"]
	path = trabalhando-com-equipes-ageis
	url = git@github.com:lucianodacunha/trabalhando-com-equipes-ageis
[submodule "desafios-de-projetos-crie-um-porfolio-vencedor"]
	path = desafios-de-projetos-crie-um-porfolio-vencedor
	url = git@github.com:lucianodacunha/desafios-de-projetos-crie-um-porfolio-vencedor.git
[submodule "contribuindo-em-um-projeto-open-source-no-github"]
	path = contribuindo-em-um-projeto-open-source-no-github
	url = git@github.com:lucianodacunha/contribuindo-em-um-projeto-open-source-no-github.git
[submodule "conhecendo-o-kotlin-e-sua-documentacao-oficial"]
	path = conhecendo-o-kotlin-e-sua-documentacao-oficial
	url = git@github.com:lucianodacunha/conhecendo-o-kotlin-e-sua-documentacao-oficial.git
[submodule "introducao-pratica-a-linguagem-de-programacao-kotlin"]
	path = introducao-pratica-a-linguagem-de-programacao-kotlin
	url = git@github.com:lucianodacunha/introducao-pratica-a-linguagem-de-programacao-kotlin
[submodule "estruturas-de-controle-de-fluxo-e-colecoes-em-kotlin"]
	path = estruturas-de-controle-de-fluxo-e-colecoes-em-kotlin
	url = git@github.com:lucianodacunha/estruturas-de-controle-de-fluxo-e-colecoes-em-kotlin
[submodule "orientacao-a-objetos-e-tipos-de-classes-na-pratica-com-kotlin"]
	path = orientacao-a-objetos-e-tipos-de-classes-na-pratica-com-kotlin
	url = git@github.com:lucianodacunha/orientacao-a-objetos-e-tipos-de-classes-na-pratica-com-kotlin.git
[submodule "o-poder-das-funcoes-em-kotlin"]
	path = o-poder-das-funcoes-em-kotlin
	url = git@github.com:lucianodacunha/o-poder-das-funcoes-em-kotlin
[submodule "tratamento-de-excecoes-em-kotlin"]
	path = tratamento-de-excecoes-em-kotlin
	url = git@github.com:lucianodacunha/tratamento-de-excecoes-em-kotlin.git
[submodule "abstraindo-formacoes-da-dio-usando-orientacao-a-objetos-com-kotlin"]
	path = abstraindo-formacoes-da-dio-usando-orientacao-a-objetos-com-kotlin
	url = git@github.com:lucianodacunha/abstraindo-formacoes-da-dio-usando-orientacao-a-objetos-com-kotlin.git
[submodule "desafios-de-codigo-aperfeicoe-sua-logica-e-pensamento-computacional"]
	path = desafios-de-codigo-aperfeicoe-sua-logica-e-pensamento-computacional
	url = git@github.com:lucianodacunha/desafios-de-codigo-aperfeicoe-sua-logica-e-pensamento-computacional.git
[submodule "explorando-padroes-de-projetos-na-pratica-com-kotlin"]
	path = explorando-padroes-de-projetos-na-pratica-com-kotlin
	url = git@github.com:lucianodacunha/explorando-padroes-de-projetos-na-pratica-com-kotlin.git
[submodule "kotlin-desenvolvendo-sua-primeira-aplicacao"]
	path = kotlin-desenvolvendo-sua-primeira-aplicacao
	url = git@github.com:lucianodacunha/kotlin-desenvolvendo-sua-primeira-aplicacao.git
[submodule "java-criando-a-sua-primeira-aplicacao"]
	path = java-criando-a-sua-primeira-aplicacao
	url = git@github.com:lucianodacunha/java-criando-a-sua-primeira-aplicacao.git
[submodule "java-aplicando-a-orientacao-a-objetos"]
	path = java-aplicando-a-orientacao-a-objetos
	url = git@github.com:lucianodacunha/java-aplicando-a-orientacao-a-objetos.git
[submodule "java-trabalhando-com-listas-e-colecoes-de-dados"]
	path = java-trabalhando-com-listas-e-colecoes-de-dados
	url = git@github.com:lucianodacunha/java-trabalhando-com-listas-e-colecoes-de-dados.git
[submodule "java-consumindo-api-gravando-arquivos-e-lidando-com-erros"]
	path = java-consumindo-api-gravando-arquivos-e-lidando-com-erros
	url = git@github.com:lucianodacunha/java-consumindo-api-gravando-arquivos-e-lidando-com-erros.git
[submodule "java-trabalhando-com-lambdas-streams-e-spring-framework"]
	path = java-trabalhando-com-lambdas-streams-e-spring-framework
	url = git@github.com:lucianodacunha/java-trabalhando-com-lambdas-streams-e-spring-framework.git
[submodule "introducao-a-banco-de-dados-relacionais-sql"]
	path = introducao-a-banco-de-dados-relacionais-sql
	url = git@github.com:lucianodacunha/introducao-a-banco-de-dados-relacionais-sql.git
[submodule "introducao-a-banco-de-dados-nosql"]
	path = introducao-a-banco-de-dados-nosql
	url = git@github.com:lucianodacunha/introducao-a-banco-de-dados-nosql.git
